:root,
[data-theme="light"] {
  font-family: "Ubuntu", sans-serif;

  --black-900: #060606;
  --black-800: #141414;
  --black-700: #1f1f1f;
  --black-600: #292929;
  --black-500: #333333;
  --black-400: #3d3d3d;
  --black-300: #474747;
  --black-200: #525252;
  --black-100: #5c5c5c;
  --black-90: #858585;
  --black-80: #999999;
  --black-70: #adadad;
  --black-60: #c2c2c2;
  --black-50: #d6d6d6;
  --black-40: #e0e0e0;
  --black-30: #ebebeb;
  --black-20: #f5f5f5;
  --black-10: #ffffff;

  --red-900: #460c15;
  --red-800: #69121f;
  --red-700: #8c1829;
  --red-600: #ae1e33;
  --red-500: #d6243f;
  --red-400: #dc2e48;
  --red-300: #de3f57;
  --red-200: #e15166;
  --red-100: #e46276;
  --red-90: #ea8594;
  --red-50: #f0a8b3;
  --red-40: #f6cbd1;
  --red-20: #f9dce1;
  --red-10: #fceef0;

  --green-900: #123f28;
  --green-800: #165032;
  --green-700: #1f7046;
  --green-600: #238050;
  --green-500: #27905a;
  --green-400: #30b06e;
  --green-300: #3fca82;
  --green-200: #5fd397;
  --green-100: #7fdcac;
  --green-90: #9fe5c1;
  --green-50: #bfedd5;
  --green-40: #cff2e0;
  --green-20: #dff6ea;
  --green-10: #effbf5;

  --yellow-900: #3d2b00;
  --yellow-800: #7a5600;
  --yellow-700: #a37200;
  --yellow-600: #cc8f00;
  --yellow-500: #f5ab00;
  --yellow-400: #ffbc1f;
  --yellow-300: #ffc847;
  --yellow-200: #ffd470;
  --yellow-100: #ffe099;
  --yellow-90: #ffedc2;
  --yellow-50: #fff3d6;
  --yellow-10: #fff9eb;

  --blue-900: #00243d;
  --blue-800: #003c66;
  --blue-700: #00538f;
  --blue-600: #006bb8;
  --blue-500: #0083e0;
  --blue-400: #0a99ff;
  --blue-300: #33aaff;
  --blue-200: #5cbbff;
  --blue-100: #85ccff;
  --blue-90: #adddff;
  --blue-50: #c2e5ff;
  --blue-20: #d6edff;
  --blue-10: #ebf6ff;

  --purple-900: #211f47;
  --purple-800: #282555;
  --purple-700: #2f2c63;
  --purple-600: #363371;
  --purple-500: #3c397f;
  --purple-400: #433f8d;
  --purple-300: #4a469b;
  --purple-200: #514ca9;
  --purple-100: #5b56b3;
  --purple-90: #7672c0;
  --purple-80: #8480c6;
  --purple-70: #adabd9;
  --purple-60: #c8c7e6;
  --purple-50: #d6d5ec;
  --purple-40: #e4e3f2;
  --purple-20: #f2f1f9;

  --size-0: 0px;
  --size-2: 2px;
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-22: 22px;
  --size-24: 24px;
  --size-26: 26px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-34: 34px;
  --size-36: 36px;
  --size-38: 38px;
  --size-40: 40px;
  --size-80: 80px;
  --size-120: 120px;

  --border-radius-none: var(--size-0);
  --border-radius-xs: var(--size-2);
  --border-radius-s: var(--size-4);
  --border-radius-m: var(--size-6);
  --border-radius-l: var(--size-8);
  --border-radius-xl: var(--size-12);
  --border-radius-2xl: var(--size-16);
  --border-radius-3xl: var(--size-24);
  --border-radius-4xl: var(--size-32);

  --icon-size-xs: var(--size-12);
  --icon-size-s: var(--size-16);
  --icon-size-m: var(--size-24);
  --icon-size-l: var(--size-32);
  --icon-size-xl: var(--size-40);

  --spacing-none: var(--size-0);
  --spacing-xs: var(--size-4);
  --spacing-s: var(--size-8);
  --spacing-m: var(--size-12);
  --spacing-l: var(--size-16);
  --spacing-xl: var(--size-20);
  --spacing-2xl: var(--size-24);
  --spacing-3xl: var(--size-28);
  --spacing-4xl: var(--size-32);
  --spacing-5xl: var(--size-36);
  --spacing-6xl: var(--size-40);

  --color-background-primary: var(--black-10);
  --color-background-secondary: var(--black-20);
  --color-background-tertiary: var(--black-30);
  --color-background-fourth: var(--black-40);
  --color-background-brand-primary: var(--purple-700);
  --color-background-brand-secondary: var(--purple-300);
  --color-background-brand-tertiary: var(--purple-20);
  --color-background-danger-primary: var(--red-700);
  --color-background-danger-secondary: var(--red-500);
  --color-background-danger-tertiary: var(--red-10);
  --color-background-warning-primary: var(--yellow-800);
  --color-background-warning-secondary: var(--yellow-600);
  --color-background-warning-tertiary: var(--yellow-10);
  --color-background-success-primary: var(--green-700);
  --color-background-success-secondary: var(--green-500);
  --color-background-success-tertiary: var(--green-10);
  --color-background-informative-primary: var(--blue-700);
  --color-background-informative-secondary: var(--blue-500);
  --color-background-informative-tertiary: var(--blue-10);

  --color-foreground-primary: var(--black-800);
  --color-foreground-secondary: var(--black-300);
  --color-foreground-tertiary: var(--black-10);
  --color-foreground-fourth: var(--black-100);
  --color-foreground-brand-primary: var(--purple-500);
  --color-foreground-brand-secondary: var(--purple-100);
  --color-foreground-danger-primary: var(--red-700);
  --color-foreground-danger-secondary: var(--red-400);
  --color-foreground-warning-primary: var(--yellow-800);
  --color-foreground-warning-secondary: var(--yellow-400);
  --color-foreground-success-primary: var(--green-700);
  --color-foreground-success-secondary: var(--green-400);
  --color-foreground-informative-primary: var(--blue-700);
  --color-foreground-informative-secondary: var(--blue-400);

  --color-border-primary: var(--black-30);
  --color-border-secondary: var(--black-50);
  --color-border-tertiary: var(--black-400);
  --color-border-fourth: var(--black-100);
  --color-border-focus: var(--blue-500);
  --color-border-brand-primary: var(--purple-500);
  --color-border-brand-secondary: var(--purple-100);
  --color-border-danger-primary: var(--red-700);
  --color-border-danger-secondary: var(--red-400);
  --color-border-warning-primary: var(--yellow-800);
  --color-border-warning-secondary: var(--yellow-400);
  --color-border-success-primary: var(--green-700);
  --color-border-success-secondary: var(--green-400);
  --color-border-informative-primary: var(--blue-700);
  --color-border-informative-secondary: var(--blue-400);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
