:root {
  --font-family-primary: "Ubuntu", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body,
button {
  font-family: var(--font-family-primary);
}

p {
  font-size: 14px;
  line-height: 20px;
}
