.Text {
  font-family: var(--font-family);

  &--heading-1 {
    font-size: 32px;
    line-height: 40px;
  }

  &--heading-2 {
    font-size: 28px;
    line-height: 36px;
  }

  &--heading-3 {
    font-size: 24px;
    line-height: 32px;
  }

  &--headline {
    font-size: 20px;
    line-height: 28px;
  }

  &--subheadline {
    font-size: 18px;
    line-height: 24px;
  }

  &--body-large {
    font-size: 16px;
    line-height: 22px;
  }

  &--body {
    font-size: 14px;
    line-height: 20px;
  }

  &--light {
    font-weight: var(--font-weight-light);
  }

  &--regular {
    font-weight: var(--font-weight-regular);
  }

  &--medium {
    font-weight: var(--font-weight-medium);
  }

  &--bold {
    font-weight: var(--font-weight-bold);
  }
}
